@model int

<div class="container row pt-4 ">
	<div class="col-12 text-center">
		<h1 class="text-center text-primary">Order Placed Sucessfully</h1>
		Your Order Number is: @Model <br /> <br />
		<img src="~/Images/Lawn_leaf.jpg" width="65%" />
	</div>
	<div class="col-12 text-center" style="color: maroon">
		<br />
		Your Order Has Been Placed Successfully! <br />
	</div>
</div>